@font-face {
    font-family: CamptonLightBbuttonsAndTtles; 
    src: url(../fonts/CamptonLightBbuttonsAndTtles.otf);
    src: local(../fonts/CamptonLightBbuttonsAndTtles.otf), url(../fonts/CamptonLightBbuttonsAndTtles.otf);
}
@font-face {
    font-family: CamptonThin; 
    src: url(../fonts/CamptonThin.otf);
    src: local(../fonts/CamptonThin.otf), url(../fonts/CamptonThin.otf);
}
@font-face {
    font-family: Graviton-AgudaLight; 
    src: url(../fonts/Graviton-AgudaLight.otf);
    src: local(../fonts/Graviton-AgudaLight.otf), url(../fonts/Graviton-AgudaLight.otf);
}
@font-face {
    font-family: NotoSans-Italic; 
    src: url(../fonts/NotoSans-Italic.ttf);
    src: local(../fonts/NotoSans-Italic.ttf), url(../fonts/NotoSans-Italic.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,header,
hgroup, menu, nav, section { display: block; }

* {
    margin: 0;
    padding: 0;
    outline: none;
}
html,
body {
    height: 100%;
}
body {
    font: 14px/22px ,arial, sans-serif;
    color:#2f384b;
    width: 100%;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color:black;
}
a:hover {
    text-decoration: none;
}
.link_popup, .link_popup:hover, .link_popup:focus {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
img{
    max-width: 100%;
}
* html .wrapper {
    height: 100%;
}

.wrapper {
    background: url("../img/bg.png") no-repeat;
    background-size: 100% 100%;
}
.wrapper>.container {
    padding: 0;
}
.main {
    min-height: 100%;
}
.header>.header_img img {
    width: 100%;
    padding: 2%;
}
.content {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 10% 13%;
    background-color: #e8e8e8;
    background-size: 100% 100%;
    opacity: 0.8;
}
.content>.content_people {
    padding: 0 10%;
}
.content .main_name {
    font-size: 1.6em;
    font-family: CamptonThin;
    color: #2f384b;
    text-align: center;
    margin: 10% 0 8%;
}
.contacts {
    width: 100%;
    padding: 0 0 5%;
    overflow: hidden;
}
.specific_block_contacts {
    width: 30%;
    float: left;
    color: #2f384b;
    text-align: center;
    margin: 0 5% 5% 0;
}
.specific_block_contacts>.contact_img img{
    width: 75%;
}
.contact_name>h3 {
    font-size: 1.4em;
    margin: 4% 0 0;
}
.last_line_block {
    margin-right: 0;
}
.popup_menu_block {
    background-color: #333c56;
}
.link_popup {
    display: block;
    width: 100%;
    height: 100%;
}
.link_popup:focus {
    outline: 0;
}
.compose_mess img {
    padding: 0% 0% 15% 0;
}



/*Chat-02*/
.content-chats2 {
    padding: 0;
}
.link_popup>.new_sms {
    width: 100%;
    padding: 3% 5% 4%;
    border-bottom: 1px solid #2f384b;
    margin: 0 0 3%;
}
.sms_img, .peple_sms_name, .sms_date {
    float: left;
}
.sms_img {
    width: 15%;
      margin-top: -6%;
}
.peple_sms_name {
    width: 75%;
}
.sms_date {
    width: 10%;
}
.content_chats2 {
    padding: 0 0 10%;
}
.link_popup>.content_people_chats2 {
    padding: 0 10%;
}
.peple_sms_name h3, .peple_sms_name h4 {
    margin: 1%;
    font-family: CamptonLightBbuttonsAndTtles; 
    color: #333c56;
}
.peple_sms_name h3 {
    font-size: 1.5em;
}
.peple_sms_name h4 {
    font-size: 1em;
}
.sms_date {
    font-size: 0.8em;
}
.chats_main .row {
    margin: 0;
}
.chats_main .footer {
    margin: -53px 0 0;
}
.sms_img span {
    content: "1";
      padding: 7% 32%;
  
    border-radius: 50%;
    background: rgb(156, 34, 38);
    color: yellow;
    font-family: CamptonLightBbuttonsAndTtles; 
}
.col_new_sms {
/*margin: 0 0% -20% 20%;*/
z-index:100;
float: right;
  width: 50%;
    top: 12px;
  position: relative;
}
/*Chat-02*/



/*Dialogs*/
.header_img_dialogs {
    padding: 0% 2% 8% !important;
}
.dialog_name {
    width: 60%;
    overflow: hidden;
    margin: -10% auto;

}
.header_img_dialogs>.dialog_name img {
    width: 18%;
}
.dialog_name img, .dialog_name h2 {
    float: left;
}
.dialog_name h2 {
    font-size: 1.6em;
    color: white;
    margin: 5% 2%;
    font-family: CamptonLightBbuttonsAndTtles; 
}

#bg { position: fixed; top: 0%; left: 0%; }
.bgwidth { width: 100%; }
.bgheight { height: 100%; }

.today_mes {
    width: 25%;
    height: 15%;
    margin: 1% auto;
    text-align: center;
    background-color: #d8dce2;
    border-radius: 0.5em/1em;
    border: 1px solid white;
    color: #383f53;
    font-family: CamptonLightBbuttonsAndTtles; 
}
.chat_mess {
    background-color: #ECEEEF;
    padding: 2%;
    margin: 3% 3% 10%;
    border-radius: 0 1em 1em;
}
.chat_mess:before {
    content: " ";  
    width: 20px;
    height: 30px;    
    /*border-radius: 1em 1em;   */
    line-height: 42px;  
    /*background-color: #d8dce2;*/
    float: left;  
    position: relative; 
    top: -35px;
    left: -6px;
    background: url("../img/хвостик.png") no-repeat;

}
.chat_mess p {
    line-height: 1em;
    font-size: 1.2em;
    font-family: CamptonLightBbuttonsAndTtles; 
    margin: 0 0 0 6%
}
.chat_mess .left_date {
    float: right;
    font-size: 0.7em;
    margin:1% 0 2%;
    color: #383f53;
}
.follow_contact {
    border: 1px solid #9297a5;
    overflow: hidden;
    width: 56%;
    font-family: Arial;
}
.chat_mess_cont {
    width: 58%;
}
.follow_contact>img {
    width: 100%;
}
.follow_contact>h3 {
    margin: 7%;
    font-size:1em;
    font-family: CamptonLightBbuttonsAndTtles; 
    font-weight: bold;
}
.follow_contact>h3>span {
    margin: 5% 0 5%;
    font-size: 0.9em;
    line-height: 1;
    font-weight: lighter;
}
.left_members {
    width: 50%;
    line-height: 1;
    font-size: 0.8em;
    text-align: center;
    color: #8e919a;
}
.follow_contact input[type="submit"] {
    width: 95%;
    border-radius: 50px;
    background-color: inherit;
    margin: 2% 2% 8%;
    border: 1px solid black;
    padding: 3%;
    font-family: CamptonLightBbuttonsAndTtles; 
}
.chat_mess_cont>.left_date_sms {
    margin: -7% 0 2%;
    font-family: CamptonLightBbuttonsAndTtles;
    font-size: 0.85em;
    color: #383f53;
    float: right;
}
.main .row, .dialog_col {
    margin: 0;
    padding: 0 !important;
}
/*Dialogs*/


/*user01*/
.user_wrapper .user_row {
    margin: 0;
}
.user_wrapper .user_page {
    text-align: center;
    color: white;
    padding: 0;
}
.user_page>img{
    padding: 16% 0 0;
    width: 30%;
}
.user_contacts {
    padding: 0 7%;
}
.user_page h2, .user_page h1 {
    font-family: CamptonLightBbuttonsAndTtles; 
    margin: 2% 5% 0;
}
.user_page h2 {
    font-size: 1.6em;
}
.user_page h1 {
    font-size: 2em;
}
.user_page h3 {
    margin: 15% 2%;
    font-size: 1.5em;
}
.user_page h3, .user-page .contact_name h3  {
    font-family: CamptonThin; 
    color: white;
}
.contact_name>h3 {
    font-size: 1.1em;
    margin: 5% 0 0;
}
.user_wrapper {
    background-image: url("../img/user-bg.png");
}
.user_page>.user_btn{

}
.user_img_get {
    margin: 10% 0% 19%;
    width: 80%;
}
.specific_block_contacts>.user_contact_img img{
    width: 80%;
}
@media screen and (max-width: 320px) and (max-height: 480px){
    .user_page h1 {
      font-size: 1.6em;
    }
    .user_page h3 {
        font-size: 1.1em;
    }
    .user_page>img {
      padding: 10% 0 0;
      width: 27%;
    }
    .specific_block_contacts>.contact_img img {
      width: 65%;
    }
    .user_img_get {
      margin: 5% 0% 16%;
      width: 75%;
    }
    .contact_name>h3 {
        font-size: 0.8em;
    }
    .content .main_name {
        font-size: 1.1em;
    }
    .peple_sms_name h3 {
        font-size: 1.2em;
    }
    .peple_sms_name h4 {
        font-size: 0.7em;
    }
    .modal-header h2 {
        font-size: 1.3em !important;
    }
}
/*user01*/








.wrapper .footer {
    /*height: 53px;*/
    /*margin-top: -53px;*/
    bottom: 0;
    margin: 0;
    position: fixed;
}
.footer_img> img {
    width: 100%;
}
.footer>.footer_img {
    padding: 0;
    margin: 0% 0 0;
}



/*----------------- Modal window ---------------------*/


.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
    /*background-color: inherit;
    opacity: 0.5;*/
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 29%;
}
.modal-dialog {
    background: #333c56;
    opacity: 0.9;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
    border-radius: 7%;
    width: 75% !important;
    color: white;
    font-family: CamptonLightBbuttonsAndTtles; 
    text-align: center;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
    padding: 5% !important;
}
.modal-header img {
    padding: 7% 0 5%;
}
.modal-header, .modal-footer {
    padding: 20px 20px;
}
.modal-body {
    padding: 2em;
    margin: 0 !important;
}
.modal-body>a {
    color: white;
}
.modal-body>a:hover, .modal-body>a:focus {
    text-decoration: none;
    color: white;
}
.modal-body>a h2 {
    font-family: CamptonThin;
    font-size: 1.9em;
    margin: 0;
    padding: 4%;
}
.modal-header h2 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    font-family: CamptonThin;
    font-size: 1.5em;
}
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}
.modal-open:checked ~ .modal-wrap:before, .modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}